<!DOCTYPE html>
<html>
<head>
  <title>Cafe Hong Kong</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-3">
    		<%= image_tag("Logo.jpg") %>
    		<p align="center">(212)608-5359</p>
    		<p align="center"> 51 Bayard St. New York, NY 10013 </p>
    		<p align="center"> Mon-Sun 11am-11pm </p>
    	</div>
      <!--Sidebar content-->

    </div>
    <div class="col-md-9">
    	<%= yield %>
      <!--Body content-->
    </div>
  </div>
</div>
  <%# do NOT delete below #%>

<% if notice %>
	<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>

</body>
</html>
